:root {
  --fondo: #A6E0DE;
  --panel: #ffffff;
  --panel-border: #7DCAC8;
  --borde: #6cccf3;
  --texto: #1E1E1E;
  --subtitle: #555;
  --crud: #E6F4F3;
  --crud-border: #7DCAC8;
  --label: #363636;
  --input: #363636;
  --exe-btn: #e9a63a;
  --add-btn: #48c957;
  --remove-btn: #bb4345;
  --list: #539BAA;
  --list-border: #539BAA;
}
body.dark {
  --fondo: #539BAA;
  --panel: #363636;
  --panel-border: #5AA5AA;
  --borde: #33373A;
  --texto: #ffffff;
  --subtitle: #CCC;
  --crud: #5AA5AA;
  --crud-border: #A6E0DE;
  --label: #DDD;
  --input: #ffffff;
  --exe-btn: #bc852e;
  --add-btn: #34943f;
  --remove-btn: #AC3D3F;
  --list: #A6E0DE;
  --list-border: #A6E0DE;
}

*{
  box-sizing:border-box;
  margin:0;padding:0
}
body{font-family:'Inter',sans-serif;
  background:var(--fondo);
  color:var(--texto);
  padding:24px;
}
.app-header{
  display:flex;
  align-items:center;
  gap:16px;
  margin-bottom:32px
}
.logo-wrapper{
  width:100px;
  height:100px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:8px
}
.logo{max-width:70%;max-height:70%}
.theme-btn{
  margin-left:auto;
  background:var(--panel);
  border:2px solid var(--panel-border);
  width:40px;
  height:40px;
  border-radius:50%;
  cursor:pointer
}
h1{
  font-size:1.8rem;
  font-weight:700
}
h3{
  font-size:1.4rem;
  font-weight:700
}
.subtitle{
  font-weight:400;
  font-size:1.2rem;
  color:var(--subtitle)
}
.crud{background:var(--crud);
  border-left:6px solid var(--crud-border);
  padding:24px;
  border-radius:8px;
  box-shadow:0 4px 10px rgba(0,0,0,.05);
  margin-bottom:32px
}
.crud-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.crud-col {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
}
.panel {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}
label{
  display:block;
  margin-bottom:6px;
  font-weight:600;
  color:var(--label)
}
input[type=text]{
  width:100%;
  padding:10px;
  border:2px solid var(--input);
  border-radius:6px;
  background:var(--panel);
  color:var(--texto)
}
.primary-btn{
  background:var(--exe-btn);
  color:#fff;
  border:none;
  padding:10px 20px;
  border-radius:6px;
  cursor:pointer;
  margin-top:10px;
}
.lista{
  list-style:none;
  border:2px solid var(--list);
  border-radius:6px;
  max-height:240px;
  overflow-y:auto;
  margin-top:12px;
  margin-bottom:12px
}
.lista li{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:8px;
  border-bottom:1px solid var(--list-border)
}
.lista li:last-child{border-bottom:none}
.lista li button{
  background:var(--remove-btn);
  color:#ffffff;
  border:none;
  width:28px;
  height:28px;
  border-radius:50%;
  cursor:pointer
}
.add-row{display:flex;gap:10px}
.add-btn{
  background:var(--add-btn);
  color:#fff;
  border:none;
  padding:10px 16px;
  border-radius:6px;
  cursor:pointer
}
